@page "/"

<PageTitle>Tela do Primeiro Componente a Seguir</PageTitle>
<FirstComponent @ref="_firstComponent" Name=@name Idade=@idade Money=@money></FirstComponent>
<br>
<br>
<button class="btn btn-primary" @onclick=Teste>Aumenta dinheiro da minha carteira plz!</button>
<button class="btn btn-primary" @onclick=NovoNome>Troque de nome, para Diogo Pedro</button>

@code {
    private FirstComponent _firstComponent;
    private string name = "Diogo";
    private int idade = 23;
    private int money = 100;
 
    public void Teste()
    {
        this.name = "Pedro";
        this.money = _firstComponent.GainMoney(money + 150);
        //StateHasChanged();
    }

    public void NovoNome()
    {
        this._firstComponent.MudarNome("Diogo Pedro");
    }
}